//home page odered list
ol.text-left {
  margin: 0 25%;
}

@media screen and (max-width: 894px) {
  ol.text-left {
    margin: 0 auto;
  }
}
// rull for side menu is in sideMenu.scss partials

@media screen and (max-width: 1229px) {
  .gridDoc {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
