.doc-SUBmenu {
  background: $primaryColor;
}

.doc-SUBmenu h3 {
  color: $secWhite;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: $primaryColor-font;
}

.doc-SUBmenu a {
  display: block;
  color: $secWhite;
  font-size: 1.1em;
  font-weight: 300;
}

.doc-SUBmenu a:hover {
  background: $button-hover;
  color: $secWhite;
}

.doc-SUBmenu a:active {
  background: $button-active;
  color: $primaryColor-font;
}

.doc-SUBmenu-vertical {
  width: 240px;
  height: 100%;
}

.doc-SUBmenu-vertical a {
  border-bottom: 1px solid $primaryColor-font;
  padding: 1em;
}

/* Transitions */

.doc-SUBmenu {
  transition: all 0.3s ease;
}

.subMenuDoc li a {
  background: $button-active;
  color: $primaryColor-font;
}

/*  Media queries */

// @media screen and (max-width: 55.1875em) {
//
// }

@media screen and (max-height: 26.375em) {
  .doc-SUBmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
}
