.doc-SUBmenu {
  background: $primaryColor;
}

.doc-SUBmenu h3 {
  color: $secWhite;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: $primaryColor-font;
}

.doc-SUBmenu a {
  display: block;
  color: $secWhite;
  font-size: 1.1em;
  font-weight: 300;
}

.doc-SUBmenu a:hover {
  background: $button-hover;
  color: $secWhite;
}

.doc-SUBmenu a:active {
  background: $button-active;
  color: $primaryColor-font;
}

.doc-SUBmenu-vertical {
  width: 240px;
  height: 100%;
}

.doc-SUBmenu-vertical a {
  border-bottom: 1px solid $primaryColor-font;
  padding: 1em;
}

/* Transitions */

.doc-SUBmenu {
  transition: all 0.3s ease;
}

.subMenuDoc li a {
  background: $button-active;
  color: $primaryColor-font;
}

nav ul li a span.spanDROP {
  //   position: absolute;
  //   top: 50%;
  //   right: 20px;

  font-size: 22px;
  transition: transform 0.4s;
  transform: translateY(-10%);
}
nav ul li a span.rotate {
  transform: translateY(-10%) rotate(-180deg);
}

nav ul li.active a {
  background: $button-active;
  color: $primaryColor-font;
}

// nav ul li a:hover span.spanMenu {
//   transform: translateY(-10%) rotate(-180deg);
// }

nav ul ul {
  display: none;
}
nav ul .feat-show.show {
  display: block;
}

.btnHAM {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: $primaryColor;
  border-radius: 3px;
  cursor: pointer;
  span {
    color: $secWhite;
    font-size: 28px;
    line-height: 45px;
  }
}
.btnHAM.clickHAM {
  left: 260;
  span::before {
    content: "\f00d";
  }
}
/*  Media queries */

// @media screen and (max-width: 55.1875em) {
//
// }

@media screen and (max-height: 26.375em) {
  .doc-SUBmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
}
