//default colors
$primaryColor: #a1a9fe;
//side menue
$prim-opac: #d1d5ff;
$primaryColor-font: #8187d8;
$button-hover: #c6cbef;
$button-active: #e9edfb;
$search: #f0f0f0;
$component-frame: #999999;

//fromframework
$mainWhite: #ffffff;

//use in framework but not in AMAZING FRAMEWORK WEB SITE

$mainGrey: #ececec; //NO $body-font
$mainBlack: #383838; //NO

//body
$body-font: #808080;
$background-color: #fafafa;
//secondary
$secWhite: #f4f4f4;
$secGray: #ccc;
$thirdGray: #d9d9d9;

//default font
$font-main: "Dosis", Helvetica, sans-serif;

.primaryColor {
  color: $primaryColor;
}

.primDark {
  color: darken($primaryColor, $amount: 10%);
}
